@use "../abstracts" as a;

.article-container {
  padding-left: 1rem;
  border-left: 1px solid a.$lg-black-line;
}

.article-container ul {
  padding-left: 1rem;
}

.articles {
  border-bottom: 1px solid a.$sm-black-line;
}

.articles > .articletag {
  display: flex;
  justify-content: center;
  width: 3rem;
}
