@use "../abstracts" as a;

.artist-container {
  @include a.flexColumn;
  padding-right: 1rem;
}

.artist-info h3 {
  margin-bottom: 1rem;
}

.artist-container-1 {
  @include a.flexRow;
  gap: 2rem;
  border-bottom: 1px solid a.$sm-black-line;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.artist-container-2 {
  @include a.flexRowReverse;
  gap: 2rem;
  padding-top: 1rem;
}

.artist-pfp {
  width: 12em;
}

.artist-contact {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
