@use "../abstracts" as a;

.article-container {
  padding-left: 2rem;
  border-left: 1px solid a.$lg-black-line;
}

.article-container ul {
  padding-left: 2rem;
}

.articles {
  border-bottom: 1px solid a.$sm-black-line;
}

#search {
  border: 1px solid a.$lg-black-line;
  padding: 0.4em 0.5em;
  height: 1.5rem;
  font-size: a.$xs;
}
