@use "../abstracts/" as a;

#carousel-container {
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

#headline-container:hover {
  background: a.$black;
}

.carousel-carousel {
  width: 100%;
}

.carousel-img {
  margin: 0;
  width: 100%;
  height: 40vh;
}

.carousel-button {
  position: relative;
  height: 10px;
  top: 45%;
  font-size: 4rem;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.carousel-button.next {
  right: -82%;
}
.carousel-button.prev {
  right: -5%;
}

// .carousel-button:hover,
// .carousel-button:focus {
//   color: a.$white;
// }
