@use "../abstracts" as a;

.cartposition {
  position: relative;
  padding: inherit;
}

.shoppingcart {
  z-index: 99;
  position: absolute;
  background: a.$white;
  border: 1px solid black;
  right: 0;
  height: fit-content;
  width: 15rem;
  padding: 1rem;
  border-radius: 2%;
}

.cartheader {
  border-bottom: 1px solid a.$lg-black-line;
}

.cartitem-container {
  display: flex;
  flex-direction: column;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid a.$md-black-line;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.cartBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cartBtns > img {
  cursor: pointer;
}

.cartBtns > img,
.cartBtns > select {
  background: a.$white;
}

.cartcenter {
  display: flex;
  border-top: 1px solid a.$lg-black-line;
  justify-content: center;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  width: 70%;
  align-items: stretch;
  justify-content: center;
}

.checkout-btn {
  padding: 1rem;
  background: a.$black;
  color: a.$white;
  border-radius: 5%;
  cursor: pointer;
}

.item-details > img {
  object-fit: cover;
  width: 3.5em;
}
