@use "../abstracts" as a;

#featured-designer,
.style-container,
#feature-spotlight {
  @include a.flexRow;
  justify-content: space-between;
  width: 100%;
}

#featured-designer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.square {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding-right: 2rem;
}

.designer-img {
  object-fit: cover;
  width: 80%;
  height: 10em;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.35);
}

.large-designer-feature {
  display: flex;
  object-fit: cover;
  width: 40%;
}
