@use "../abstracts" as a;

@media (max-device-width: 1200px) {
  .carousel-carousel,
  #featured-designer,
  #frontpage-selection,
  #feature-spotlight,
  .left-selection,
  .headline-article,
  .article,
  .artist-container-1,
  .artist-container-2,
  .product-container {
    @include a.flexColumn;
    align-items: center;
  }

  .navbar-container {
    width: auto;
    justify-content: space-between;
    margin-left: inherit;
    margin-right: inherit;
  }

  .navbar-link-container {
    @include a.flexColumn;
    z-index: 15;
    background: a.$white;
    position: absolute;
    left: 0;
    width: 100%;
    transform: translateY(62%);
  }

  .navbar-link-container p {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .menutab {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }

  #frontpage-selection,
  .headline-article {
    height: auto;
  }

  .headline-article > img {
    width: 20em;
  }

  .carousel-img {
    width: 100%;
    height: 25em;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .carousel-button {
    background: rgba(245, 243, 245, 0.5);
    border-radius: 100%;
  }

  .large-designer-feature {
    width: 100%;
  }

  .left-designer-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-right: 0;
  }

  .bannerinfo-container {
    width: 100%;
    height: 5rem;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .artist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .feature-spotlight {
    align-items: flex-start;
  }

  .article-container {
    width: 100%;
    padding: 0;
    border-left: none;
  }

  .article-content {
    margin-top: 0.5rem;
  }

  .filterpanel-container {
    padding: 0;
    border: none;
    width: 100%;
  }

  .display-container {
    padding: 0;
  }
}
