@media (max-device-width: 1200px) {
  .carousel-carousel,
  #featured-designer,
  #frontpage-selection,
  #feature-spotlight,
  .left-selection,
  .headline-article,
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #frontpage-selection,
  .headline-article {
    height: auto;
  }

  .headline-article > img {
    width: 25em;
  }

  .carousel-img {
    width: 100%;
    height: 30em;
  }

  .large-designer-feature {
    width: 100%;
    height: 40em;
  }

  .left-designer-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
}
