@use "../abstracts/" as a;

.filterpanel-container {
  border-right: 1px solid a.$lg-black-line;
  padding-right: 2rem;
}

.display-container {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  justify-items: center;
}

.filter {
  border-top: 1px solid a.$sm-black-line;
  display: flex;
  flex-direction: column;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.filter-item {
  display: flex;
  justify-content: flex-start;
}

label {
  padding: 0 0.5rem 0.5rem 0;
}

.product-container {
  display: flex;
  flex-direction: row;
}

.product-details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid a.$grey;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 2%;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
}

.sizebtn-container {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.sizeBtn {
  border: none;
  background: a.$lightgrey;
  height: 2rem;
  width: 2rem;
  box-shadow: 0 0 1px 0 a.$black;
  text-align: center;
  border-radius: 5%;
  cursor: pointer;
}

.activeSizeBtn {
  border-radius: 100%;
  background: a.$black;
  color: a.$white;
}

.addtocart {
  background-color: a.$black;
  padding: 0.8rem;
  border-radius: 5%;
  color: a.$white;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.product-img {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  margin-bottom: 0.4rem;
}

.product-img > img {
  position: relative;
  top: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  width: 100%;
}
