.product-container {
  display: flex;
  flex-direction: row;
}

.display-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
}
