@use "../abstracts" as a;

html,
body,
#root {
  margin: 0;
  background-color: a.$white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: a.$white;
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container {
  max-width: a.$xl-container;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

button.hover {
  opacity: 0;
}
