@use "../abstracts" as a;

// .slide-content .scroller {
//   width: 1024px;
// }
// * {
//   outline: 1px solid #f00 !important;
// }

html,
body,
#root {
  margin: 0;
  background-color: a.$white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: a.$white;
  min-height: 100vh;
  width: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container {
  max-width: a.$xl-container;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

button.hover {
  opacity: 0;
}
