@use "../abstracts" as a;

#navbar {
  @include a.flexColumn;
  justify-content: center;
  background: a.$white;
  height: fit-content;
  border-bottom: 1px solid a.$sm-black-line;
}

.navpadding {
  @include a.flexColumn;
  justify-content: space-around;
  width: 100%;
}

.icon-container {
  background: a.$black;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-header {
  @include a.flexRowReverse();
  gap: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: a.$xl-container;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navbar-links {
  @include a.flexRow;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.cart-num {
  position: absolute;
  color: white;
  background: red;
  align-items: center;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  transform: translate(70%);
}

.contact-nav {
  border: 1px solid a.$white;
  background-color: a.$black;
  text-align: center;
  color: a.$white;
  padding: 0.4rem;
  width: 4rem;
  border-radius: 1rem;
  justify-content: center;
}
