@use "../abstracts" as a;

#navbar {
  background: a.$white;
  height: fit-content;
  border-bottom: 1px solid a.$sm-black-line;
}

.icon-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: a.$black;
}

.navbar-header {
  @include a.flexRowReverse();
  margin: 0;
  padding-right: 2rem;
  gap: 0.5rem;
}

.navbar-container li {
  display: flex;
}

.navbar-container {
  @include a.flexRow;
  align-items: center;
  justify-content: space-between;
  max-width: a.$xl-container;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.navbar-links {
  @include a.flexRow;
  margin: 0;
  padding: 0;
  gap: 1rem;
  align-items: center;
}

.cart-num {
  position: absolute;
  color: white;
  background: red;
  align-items: center;
  border-radius: 100%;
  width: 1rem;
  height: 1rem;
  text-align: center;
  transform: translate(70%);
}

.contact-nav {
  border: 1px solid a.$white;
  background-color: a.$black;
  text-align: center;
  color: a.$white;
  padding: 0.4rem;
  width: 4rem;
  border-radius: 1rem;
}
