$white: #f5f3f5;
$black: #1e2019;
$grey: #b4b6aa;
$lightbkg: #c6c7c5;
$lightgrey: rgba(223, 226, 204, 0.1);
$red: #9e2a2b;
$sm-black-line: rgba(30, 32, 25, 0.2);
$md-black-line: rgba(30, 32, 25, 0.4);
$lg-black-line: rgba(30, 32, 25, 0.6);

//Font Sizes
$xxs: 10px;
$xs: 12px;
$sm: 14px;
$md: 18px;
$lg: 18px;
$xl: 20px;
$xxl: 24px;

//Container Sizes
$sm-container: 540px;
$md-container: 720px;
$lg-container: 960px;
$xl-container: 1200px;
