$white: #f5f3f5;
$black: #1e2019;
$sm-black-line: rgba(30, 32, 25, 0.2);
$md-black-line: rgba(30, 32, 25, 0.4);
$lg-black-line: rgba(30, 32, 25, 0.6);

//Font Sizes
$xxs: 12px;
$xs: 14px;
$sm: 16px;
$md: 18px;
$lg: 20px;
$xl: 22px;
$xxl: 24px;

//Container Sizes
$sm-container: 540px;
$md-container: 720px;
$lg-container: 960px;
$xl-container: 1140px;
